html,body {
  height:100%;
  width: 100%;
}

.container-fluid {
  height: 100%;
  margin-top: 80px;
}

.row {
  height: inherit;
}

.logo {
  height: 50px;
  margin-right: 0.5em;
  float: left;
}

.searchBar {
  float: left;
  vertical-align: middle;
}

.navbar {
  margin-bottom: 2em;
  background-color: aliceblue;
}

#mapid {
  height: 100%;
  margin-bottom: 2em;
  margin-right: 1em;
}

.filtre {
  padding-left: 1em;
}

.card {
  max-width: 700px;
}